<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="jumbotron contentjmb">
        <h1 class="display-4">MARCAS</h1>
        <hr>
        <table mat-table [dataSource]="dataSourceMarcas" class="mat-elevation-z8">
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
          <ng-container matColumnDef="nacionalidad">
            <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
            <td mat-cell *matCellDef="let element"> {{element.nacionalidad}} </td>
          </ng-container>
          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_empresa}} </td>
          </ng-container>
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono_empresa}} </td>
          </ng-container>
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <a routerLink="/proveedores/marcas/{{ element._id}}"><mat-icon>update</mat-icon></a> </td>
          </ng-container>
          <ng-container matColumnDef="a">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <mat-icon (click)="deleteMarcas(element._id)">delete</mat-icon></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsMarca"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsMarca;"></tr>
        </table>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Insertar marca</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form>
              <div class="marcaInfo">
                <h1 class="lead">Información de la marca</h1>
                <hr>
                <br>
                <mat-form-field>
                  <mat-label>Código</mat-label>
                  <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Nacionalidad</mat-label>
                  <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Descripción</mat-label>
                  <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Foto</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <div class="marcaInfo">
                <h1 class="lead">Información del contacto</h1>
                <hr>
                <br>
                <mat-form-field>
                  <mat-label>Cédula Jurídia</mat-label>
                  <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Nombre empresa</mat-label>
                  <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Detalle Empresa</mat-label>
                  <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Teléfonooo</mat-label>
                  <input matInput #telefono>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Foto</mat-label>
                  <input matInput>
                </mat-form-field>
              </div>
              <br>
              <button class="confirmbtn" mat-raised-button color="primary" style="width: 50%;">Insertar</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">PRODUCTOS</h1>
        <hr>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>COMESTIBLES</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- COMESTIBLE COMPONENT -->
            <app-comestibles></app-comestibles>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>DESECHABLES Y EMPAQUES</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- DESECHABLES Y EMPAQUES COMPONENT -->
            <app-desechables-empaques></app-desechables-empaques>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>LIMPIEZA E HIGIENE</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- LIMPIEZA E HIGIENE COMPONENT -->
            <app-limpieza-higiene></app-limpieza-higiene>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>TECNOLOGÍA</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- TECNOLOGÍA COMPONENT -->
            <app-tecnologia></app-tecnologia>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>EQUIPOS Y UTENSILIOS</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- EQUIPOS Y UTENSILIOS COMPONENT -->
            <app-equipos-utensilios></app-equipos-utensilios>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Proveedores</h1>
        <hr>
        <table mat-table [dataSource]="dataSourceProveedores" class="mat-elevation-z8">
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="nacionalidad">
            <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
            <td mat-cell *matCellDef="let element"> {{element.direccion_empresa}} </td>
          </ng-container>
          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_proveedor}} </td>
          </ng-container>
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono_contactoEmpresa}} </td>
          </ng-container>
          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <a routerLink="/proveedores/proveedores/{{ element._id }}"><mat-icon>update</mat-icon></a> </td>
          </ng-container>
          <ng-container matColumnDef="a">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> <mat-icon (click)="deleteProveedor(element._id)">delete</mat-icon> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsProveedores"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsProveedores;"></tr>
        </table>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Insertar marca</b>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form (ngSubmit)="postProveedores(codigo.value, nombre.value, primer_apellido.value, segundo_apellido.value, telefono_oficina.value, fax.value, celular.value, cedula.value, fecha_ingreso.value, nombre_proveedor.value, correo.value, direccion.value, nombre_contactoEmpresa.value, telefono_contactoEmpresa.value, direccion_empresa.value)">
              <div class="marcaInfo">
                <h1 class="lead">Información del proveedor</h1>
                <hr>
                <br>
                <mat-form-field>
                  <mat-label>Código</mat-label>
                  <input matInput #codigo>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input matInput #nombre>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Primer apellido</mat-label>
                  <input matInput #primer_apellido>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Segundo apellido</mat-label>
                  <input matInput #segundo_apellido>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Telefono oficina</mat-label>
                  <input matInput #telefono_oficina>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Fax</mat-label>
                  <input matInput #fax>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Celular</mat-label>
                  <input matInput #celular>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Cedula</mat-label>
                  <input matInput #cedula>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Fecha ingreso</mat-label>
                  <input matInput #fecha_ingreso> 
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Nombre proveedor</mat-label>
                  <input matInput #nombre_proveedor>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Correo</mat-label>
                  <input matInput #correo>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Dirección</mat-label>
                  <input matInput #direccion>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Nombre del contacto</mat-label>
                  <input matInput #nombre_contactoEmpresa>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Teléfono del contacto</mat-label>
                  <input matInput #telefono_contactoEmpresa>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Dirección de la empresa</mat-label>
                  <input matInput #direccion_empresa>
                </mat-form-field>
              </div>
              <br>
              <button class="confirmbtn" mat-raised-button color="primary" style="width: 50%;">Insertar</button>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
