<div class="row">
  <div class="col">
    <div class="contentjmb" style="width: 100%; padding: 10px;">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Codigo </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef> Rol </th>
          <td mat-cell *matCellDef="let element"> {{element.rol_restaurante}} </td>
        </ng-container>
        <ng-container matColumnDef="interno">
          <th mat-header-cell *matHeaderCellDef> Interno </th>
          <td mat-cell *matCellDef="let element"> {{element.interno}} </td>
        </ng-container>
        <ng-container matColumnDef="externo">
          <th mat-header-cell *matHeaderCellDef> Externo </th>
          <td mat-cell *matCellDef="let element"> {{element.externo}} </td>
        </ng-container>
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> editar </th>
          <td mat-cell *matCellDef="let element"> <a routerLink="/puestos/{{ element._id }}"><button>Editar</button></a> </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef> eliiminar </th>
          <td mat-cell *matCellDef="let element"> <button (click)="deletePuestos(element._id)">Eliminar</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPuestos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPuestos;"></tr>
      </table>
    </div>
    <div class="contentjmb" style="width: 100%;">
      <h1 class="display-4">Insertar puesto</h1>
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput #codigoInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput #nombreInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Interno</mat-label>
        <input matInput #internoInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Externo</mat-label>
        <input matInput #externoInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Rol en el restaurante</mat-label>
        <input matInput #rolInput>
      </mat-form-field>
      <br>
      <button class="confirmbtn" mat-raised-button color="primary" style="width: 50%;" (click)="addPuestos(codigoInput.value, nombreInput.value, internoInput.value, externoInput.value, rolInput.value)">Insertar</button>
      <button class="warnbtn" mat-raised-button color="primary" style="width: 50%;">Borrar</button>
    </div>
    <a routerLink="/restaurantes" routerLinkActive="active"><button class="primarybtn" mat-raised-button color="primary" style="width: 100%;">Atrás</button></a>
  </div>
</div>
