<script>
  function validaUser(){
    location.href = "/ProyectoFinal/frontend/src/app/components/administracion/administracion.component.html"
  }

</script>
<div class="row">
  <div class="col">
    <div class="jumbotron contentjmb" style="width: 100%;">
      <p>Inicio de Sesión</p>
      <section>
        <div class="example-button-row">
          <label>Digite su usuario</label>
          <input type="text" >
          <label>Digite su contraseña</label>
          <input type="password" >
          <button onClick="validaUser" mat-raised-button color="primary">Login</button>
        </div>
      </section>
    </div>
  </div>
</div>
