<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="jumbotron contentjmb" style="width: 100%;">
        <div class="contentjmb" style="margin-left: 25%; margin-right: 25%;">
          <h1 class="display-4">Administración</h1>
          <hr>
          <a routerLink="/especiales" routerLinkActive="active"><button class="adminrestaurantebtn primarybtn" mat-raised-button
              color="primary">Especiales</button></a>
          <a routerLink="/empleados" routerLinkActive="active"><button class="adminrestaurantebtn primarybtn" mat-raised-button
              color="primary">Empleados</button></a>
          <br>
          <a routerLink="/mesas" routerLinkActive="active"><button class="adminrestaurantebtn primarybtn" mat-raised-button
              color="primary">Mesas</button></a>
          <a routerLink="/puestos" routerLinkActive="active"><button class="adminrestaurantebtn primarybtn" mat-raised-button
              color="primary">Puesto</button></a>
        </div>
        <br>
        <button class="confirmbtn" mat-raised-button color="primary" style="width: 50%;" (click)="logOut()">Log in</button>
      </div>
    </div>
  </div>
</div>
