<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Búsqueda</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
      <ng-container matColumnDef="fecha_registro">
        <th mat-header-cell *matHeaderCellDef> Fecha registro </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
      </ng-container>
      <ng-container matColumnDef="entrada_dinero">
        <th mat-header-cell *matHeaderCellDef> Entrada de dinero </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
      <ng-container matColumnDef="apertura_caja">
        <th mat-header-cell *matHeaderCellDef> Apertura de caja </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
      <ng-container matColumnDef="cierre_caja">
        <th mat-header-cell *matHeaderCellDef> Cierre de caja </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
      <ng-container matColumnDef="restaurante">
        <th mat-header-cell *matHeaderCellDef> Restaurante </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsConsecutivos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsConsecutivos;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Insertar</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (ngSubmit)="testForm()">
      <div>
        <h1 class="display-4">Apertura Caja</h1>
        <hr>
        <mat-form-field>
          <mat-label>Código</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Primer apellido</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Segundo apellido</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Teléfono 1</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Teléfono 2</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
      </div>
      <div>
        <h1 class="display-4">Dátos técnicos</h1>
        <hr>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput type="password">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput type="password">
        </mat-form-field>
        <br>
      </div>
      <div>
        <h1 class="display-4">Privilegios</h1>
        <hr>
        <mat-form-field appearance="standard" style="width: 250px!important; text-align: center;">
          <mat-select>
            <mat-option *ngFor="let option of optionsAdmin" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button type="submit">Add</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
