<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Búsqueda</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
      <ng-container matColumnDef="fecha_registro">
        <th mat-header-cell *matHeaderCellDef> Fecha registro </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha_registro} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>
      <ng-container matColumnDef="entrada_dinero">
        <th mat-header-cell *matHeaderCellDef> Entrada de dinero </th>
        <td mat-cell *matCellDef="let element"> {{element.entrada_dinero}} </td>
      </ng-container>
      <ng-container matColumnDef="apertura_caja">
        <th mat-header-cell *matHeaderCellDef> Apertura de caja </th>
        <td mat-cell *matCellDef="let element"> {{element.apertura_caja}} </td>
      </ng-container>
      <ng-container matColumnDef="cierre_caja">
        <th mat-header-cell *matHeaderCellDef> Cierre de caja </th>
        <td mat-cell *matCellDef="let element"> {{element.cierre_caja}} </td>
      </ng-container>
      <ng-container matColumnDef="restaurante">
        <th mat-header-cell *matHeaderCellDef> Restaurante </th>
        <td mat-cell *matCellDef="let element"> {{element.restaurante}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsCajas"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsCajas;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Insertar</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
      <div>
        <mat-form-field>
          <mat-label>Código</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Fecha Registro</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Entrada de dinero</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Apertura de caja</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Cierre de caja</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Restaurante</mat-label>
            <input matInput>
          </mat-form-field>
          <br>
      </div>
      <button type="submit">Add</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
