<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Editar</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form>
        <div>
          <mat-form-field>
            <mat-label>Código</mat-label>
            <input matInput codigoInput>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Fecha Registro</mat-label>
            <input matInput fecharegistroInput>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput descripcionInput>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Entrada de dinero</mat-label>
            <input matInput entradadineroInput>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Apertura de caja</mat-label>
            <input matInput aperturacajaInput>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Cierre de caja</mat-label>
            <input matInput cierreCajaInput>
          </mat-form-field>
          <br>
          <mat-form-field>
              <mat-label>Restaurante</mat-label>
              <input matInput restauranteInput>
            </mat-form-field>
            <br>
        </div>
        <button (click)="editCajas(getId, codigoInput.value, fecharegistroInput.value, descripcionInput.value,entradadineroInput.value, aperturacajaInput.value, cierreCajaInput.value, restauranteInput.value)" type="submit">Add</button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  