<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Usuarios</h1>
        <hr>
        <app-usuarios></app-usuarios>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Consecutivos</h1>
        <hr>
        <app-consecutivos></app-consecutivos>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Países</h1>
        <hr>
        <app-paises></app-paises>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Cajas</h1>
        <hr>
        <app-cajas></app-cajas>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Roles o eventos</h1>
        <hr>
        <app-roles-y-eventos></app-roles-y-eventos>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Unidad de medidas</h1>
        <hr>
        <app-unidades-de-medida></app-unidades-de-medida>
      </div>
    </div>
  </div>
</div>
