table {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  margin: 5px;
}

mat-form-field {
  width: 100%;
}

.ss {
  width: 100%;
  color: white;
}

mat-label {
  color: white;
}

hr {
  background-color: white;
}
