<form (ngSubmit)="updateProveedor(codigo.value, nombre.value, primer_apellido.value, segundo_apellido.value, telefono_oficina.value, fax.value, celular.value, cedula.value, fecha_ingreso.value, nombre_proveedor.value, correo.value, direccion.value, nombre_contactoEmpresa.value, telefono_contactoEmpresa.value, direccion_empresa.value)">
    <div class="marcaInfo">
      <h1 class="lead">Información del proveedor</h1>
      <hr>
      <br>
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput #codigo disabled [value]="getId">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput #nombre>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Primer apellido</mat-label>
        <input matInput #primer_apellido>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Segundo apellido</mat-label>
        <input matInput #segundo_apellido>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Telefono oficina</mat-label>
        <input matInput #telefono_oficina>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Fax</mat-label>
        <input matInput #fax>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Celular</mat-label>
        <input matInput #celular>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Cedula</mat-label>
        <input matInput #cedula>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Fecha ingreso</mat-label>
        <input matInput #fecha_ingreso> 
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nombre proveedor</mat-label>
        <input matInput #nombre_proveedor>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput #correo>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Dirección</mat-label>
        <input matInput #direccion>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nombre del contacto</mat-label>
        <input matInput #nombre_contactoEmpresa>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Teléfono del contacto</mat-label>
        <input matInput #telefono_contactoEmpresa>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Dirección de la empresa</mat-label>
        <input matInput #direccion_empresa>
      </mat-form-field>
    </div>
    <br>
    <button class="confirmbtn" mat-raised-button color="primary" style="width: 50%;">Insertar</button>
  </form>