mat-form-field {
  margin-right: 10%;
}

.addinfolic {
  height: auto!important;
}

table {
  width: 100%;
}

/* #licores {
  display: none;
} */

/* .jumbotron {
  height: 600px!important;
} */


.adminrestaurantebtn {
  margin: 10px;
  width: 150px;
  height: 150px;
}
