<div class="row">
    <div class="col">
      <div class="contentjmb" style="width: 100%; padding: 10px;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Nacionalidad </th>
            <td mat-cell *matCellDef="let element"> {{element.nacionalidad}} </td>
          </ng-container>
          <ng-container matColumnDef="restaurante">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_empresa}} </td>
          </ng-container>
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Telf. Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono_empresa}} </td>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cedula Juridica </th>
            <td mat-cell *matCellDef="let element"> {{element.cedula_juridicaEmpresa}} </td>
          </ng-container>
          <ng-container matColumnDef="restaurante">
            <th mat-header-cell *matHeaderCellDef> Detalle Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.detalle_empresa}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsMarcas"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsMarcas;"></tr>
        </table>
      </div>
      <div class="contentjmb" style="width: 100%;">
        <h1 class="display-4">Insertar Marca</h1>
        <mat-form-field>
          <mat-label>Código</mat-label>
          <input matInput #codigoInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput #nombreInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Descripción</mat-label>
          <input matInput #descripcionInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Nacionalidad</mat-label>
          <input matInput #nacionalidadInput>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Empresa</mat-label>
          <input matInput #nombre_empresaInput>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Telf. Empresa</mat-label>
            <input matInput #telefono_empresaInput>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Cedula Juridica</mat-label>
            <input matInput #cedula_juridicaEmpresaInput>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Detalle Empresa</mat-label>
            <input matInput #detalle_empresaInput>
          </mat-form-field>
        <br>
        <button class="confirmbtn" mat-raised-button color="primary" style="width: 50%;" (click)="postMarcas(codigoInput.value, nombreInput.value, descripcionInput.value, nacionalidadInput.value, nombre_empresaInput.value, telefono_empresaInput.value, cedula_juridicaEmpresaInput.value, detalle_empresaInput.value)">Insertar</button>
        <button class="warnbtn" mat-raised-button color="primary" style="width: 50%;">Borrar</button>
      </div>
      <a routerLink="/restaurantes" routerLinkActive="active"><button class="primarybtn" mat-raised-button color="primary" style="width: 100%;">Atrás</button></a>
    </div>
  </div>
  