<div class="row">
  <div class="col">
    <div class="contentjmb" style="width: 100%; padding: 10px;">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Codigo </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef> Cédula </th>
          <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="prim_apellido">
          <th mat-header-cell *matHeaderCellDef> Primer apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.primer_apellido}} </td>
        </ng-container>
        <ng-container matColumnDef="seg_apellido">
          <th mat-header-cell *matHeaderCellDef> Segundo apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.segundo_apellido}} </td>
        </ng-container>
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef> editar </th>
          <td mat-cell *matCellDef="let element"> <a routerLink="/empleados/{{ element._id }}"><button>Editar</button></a> </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef> eliiminar </th>
          <td mat-cell *matCellDef="let element"> <button (click)="deleteEmpleados(element._id)">Eliminar</button> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEmpleados"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEmpleados;"></tr>
      </table>
    </div>
    <div class="contentjmb" style="width: 100%;">
      <h1 class="display-4">Insertar Empleado</h1>
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput #codigoInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Cédula</mat-label>
        <input matInput #cedulaInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput #nombreInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Primer Apellido</mat-label>
        <input matInput #primer_apellidoInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Segundo Apellido</mat-label>
        <input matInput #segundo_apellidoInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Teléfono 1</mat-label>
        <input matInput #telefono_1Input>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Teléfono 2</mat-label>
        <input matInput #telefono_2Input>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Puesto</mat-label>
        <input matInput #puestoInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nacionalidad</mat-label>
        <input matInput #nacionalidadInput>
      </mat-form-field>
      <br>
      <button class="confirmbtn" mat-raised-button color="primary" style="width: 50%;" (click)="postEmpleados(codigoInput.value, cedulaInput.value, nombreInput.value, primer_apellidoInput.value, segundo_apellidoInput.value, telefono_1Input.value, telefono_2Input.value, puestoInput.value, nacionalidadInput.value)">Insertar</button>
      <button class="warnbtn" mat-raised-button color="primary" style="width: 50%;">Borrar</button>
    </div>
    <a routerLink="/restaurantes" routerLinkActive="active"><button class="primarybtn" mat-raised-button color="primary" style="width: 100%;">Atrás</button></a>
  </div>
</div>
