/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.jumbotron {
  /* background-color: teal; */
}

a {
  color: #ECECED;
  transition: color 300ms;
  font-family: 'Lato', sans-serif;
}

a:hover {
  color: #b1aeae;
  text-decoration: none;
}
