<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Búsqueda</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>
      <ng-container matColumnDef="unidad_medida">
        <th mat-header-cell *matHeaderCellDef> Unidad de medida </th>
        <td mat-cell *matCellDef="let element"> {{element.unidad_medida}} </td>
      </ng-container>
      <ng-container matColumnDef="escala">
        <th mat-header-cell *matHeaderCellDef> Escala </th>
        <td mat-cell *matCellDef="let element"> {{element.escala}} </td>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef> Detalle </th>
        <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
      </ng-container>
      <ng-container matColumnDef="simbologia">
        <th mat-header-cell *matHeaderCellDef> Simbología </th>
        <td mat-cell *matCellDef="let element"> {{element.simbologia}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsUDM"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsUDM;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Insertar</b>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput #codigoInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Unidad</mat-label>
      <input matInput #unidadInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Escala</mat-label>
      <input matInput #escalaInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Detalle</mat-label>
      <mat-select #detalleInput>
        <mat-option *ngFor="let e of detalles" [value]="e.detalle"> {{ e.detalle }} </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Símbolo</mat-label>
      <input matInput #simboloInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Simbología</mat-label>
      <input matInput #simbologiaInput>
    </mat-form-field>
    <br>
    <button class="primarybtn" mat-raised-button color="primary" (click)="addUDM(codigoInput.value, unidadInput.value, escalaInput.value, detalleInput.value, simboloInput.value, simbologiaInput.value)">Agregar</button>
    <button class="warnbtn" mat-raised-button color="warn">Borrar datos</button>
  </mat-expansion-panel>
</mat-accordion>
