<div class="knin">
  <mat-sidenav-container class="example-container" style="padding: 0;">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')" style="background-color: #484848; margin: 0%">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #ECECED; padding: 15px">
      <p>
        <mat-toolbar  style="background-color: #ECECED;">
         <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="background-color: #ECECED!important;">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span>Restaurante</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>share</mat-icon>
       </button>
      </mat-toolbar>
      </p>
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
