<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Bitácoras</h1>
        <hr>
        <app-bitacoras></app-bitacoras>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Clientes</h1>
        <hr>
        <app-cliente-reportes></app-cliente-reportes>
      </div>
      <div class="jumbotron contentjmb">
        <h1 class="display-4">Facturación</h1>
        <hr>
        <app-facturacion></app-facturacion>
      </div>
    </div>
  </div>
</div>
