<div class="row">
  <div class="col-lg-12" style="margin: 5px;">
    <ul>
      <li>
        <a routerLink="/seguridad" routerLinkActive="active">Seguridad</a>
      </li>
      <li>
        <a routerLink="/restaurantes" routerLinkActive="active">Restaurantes</a>
      </li>
      <li>
        <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
      </li>
      <li>
        <a routerLink="/proveedores" routerLinkActive="active">Proveedores</a>
      </li>
      <li>
        <a routerLink="/administracion" routerLinkActive="active">Administración</a>
      </li>
      <li>
        <a routerLink="/reportes" routerLinkActive="active">Reportes</a>
      </li>
    </ul>
  </div>
</div>
